
input[type=radio]{
    display: none;
}

input[type=radio]:checked + img {
    border: 5px solid #546747;
    filter:grayscale(0%);
    border-radius: 50%;
    
}

img {
    width: 400px;
    height: 400px;
    padding: 10px;
     
 }

 