
input[type=radio]{
    display: none;
}

input[type=radio]:checked + img {
    border: 5px solid #546747;
    filter:grayscale(0%);
    border-radius: 50%;
    
}

img {
    width: 400px;
    height: 400px;
    padding: 10px;
     
 }

 body {
     background-color: #fddca5;
     font-family: 'Press Start 2P', cursive;
     text-align: center;
 }
 
 button {
     align-content: center;
     background-color: #fab73d;
     color: #2b331f;
     border-radius: 5%; 
     border: 5px solid #025393;
     filter:grayscale(0%);
     font-family:'Press Start 2P', cursive;
     width: 150px;
     height: 90px;
     margin-top: 5%;
     margin-bottom: 5%;
 }

 h1 {
     color: #025393;
 }
